<%= search_form_for @search do |form| %>
  <div class="ui form">
    <div class="fields">
      <div class="three wide field add-button">
        <%= link_to t('create_new_service'), new_service_path, {class: 'ui red button', :remote => true, 'data-toggle' => "modal", 'data-target' => '#modal-window'} %>
      </div>
      <div class="two wide field">
        <%= form.label t('project') %>
        <%= form.collection_select :project_id_eq, Project.all, :id, :name, {:include_blank => t('all_projects')}, {class: 'form-control', id: 'project_sort', onchange: 'this.form.submit();'} %>
      </div>
      <div class="two wide field">
        <%= form.label t('customer') %>
        <%= form.collection_select :project_customer_id_eq, Customer.all, :id, :name, {:include_blank => t('all_customers')}, {class: 'form-control', id: 'customer_sort', onchange: 'this.form.submit();'} %>
      </div>
      <div class="two wide field">
        <%= form.label t('status') %>
        <%= form.select :status_eq, Service.statuses.map { |status| [t(status[0]), status[1].to_i, {status: status[0]}] }, {:include_blank => t('all_status')}, {class: 'form-control', id: 'status_sort_select', onchange: 'this.form.submit();'} %>
      </div>
      <div class="field clear-filter">
        <%= link_to url_for + "?cancel_filter=true" do %>
          <%= image_tag("clear-filter-icon.png", size: "30x30") %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<table class="ui striped selectable red table table-to-color">
  <thead class=thead-dark>
  <tr>
    <th class="one wide center aligned">
      <%= sort_link(@search, :project_id, t('project')) %>
    </th>
    <th class="three wide">
      <%= sort_link(@search, :name, t('description')) %>
    </th>
    <th class="two wide">
      <%= sort_link(@search, :comment, t('comment')) %>
    </th>
    <th class="two wide center aligned">
      <%= sort_link(@search, :status, t('status')) %>
    </th>
    <th class="one wide center aligned">
      <%= sort_link(@search, :date, t('date_locale')) %>
    </th>
    <th class="two wide center aligned">
      <%= sort_link(@search, :hourly_rate, t('hourly_rate').to_s + ' (€/H)') %>
    </th>
    <th class="one wide center aligned">
      <%= sort_link(@search, :duration, t('duration').to_s + ' (H)') %>
    </th>
    <th class="one wide right aligned">
      <%= sort_link(@search, :tva_rate, t('tva_rate').to_s + ' (%)') %>
    </th>
    <th class="one wide right aligned">
      <%= sort_link(@search, :total_cost, t('total_cost').to_s + ' (€)') %>
    </th>
    <th class="two wide"></th>
  </tr>
  </thead>

  <tbody>
  <% unless @services.any? %>
    <tr>
      <td class="center aligned" colspan="10"><%= t('no_data_display') %></td>
    </tr>
  <% end %>
  <% @services.each do |service| %>
    <tr>
      <td class="one wide center aligned">
        <%= service.project ? (link_to '#' + @company&.prefix ? @company.prefix+'D'+  display_id(service.project.id) : ' #'+service.project.id.to_s, project_path(service.project.id), class: 'ui blue button') : '' %>
      </td>
      <%= tag.td class: "three wide description-cell", data: {content: service.name} do %>
        <%= service.name.truncate(50) %>
      <% end %>
      <%= tag.td class: "two wide description-cell", data: {content: service.comment} do %>
        <%= service.comment.truncate(30) %>
      <% end %>
      <%= tag.td class: 'two wide center aligned status-cell', status: service.status do %>
        <div>
          <div>
            <%= service.translated_status %>
          </div>
        </div>
      <% end %>
      <td class="one wide center aligned">
        <%= l(service.date) %>
      </td>
      <td class="two wide center aligned">
        <%= service.hourly_rate %>
      </td>
      <td class="one wide center aligned">
        <%= service.duration.strftime('%H:%M') %>
      </td>
      <td class="one wide right aligned">
        <%= number_with_precision service.tva_rate, :precision => 2 %>
      </td>
      <td class="one wide right aligned">
        <%= number_with_precision service.total_cost, :precision => 2 %>
      </td>
      <td class="two wide center aligned">
        <%= link_to edit_service_path(service), remote: true do %>
          <%= image_tag("edit-icon.png", size: "30x30") %>
        <% end %>
        <%= link_to service, method: :delete, data: {confirm: t('confirm_delete')} do %>
          <%= image_tag("delete-icon.png", size: "30x30") %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate @services %>

<div id="modal-window" class="ui modal">
  <div class="content">
  </div>
</div>
