<%= form_with(model: customer_machine_line, local: true) do |form| %>
  <% if customer_machine_line.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer_machine_line.errors.count, "error") %> prohibited this customer_machine_line from being saved:</h2>

      <ul>
      <% customer_machine_line.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :customer_id %>
    <%= form.text_field :customer_id %>
  </div>

  <div class="field">
    <%= form.label :machine_id %>
    <%= form.text_field :machine_id %>
  </div>

  <div class="field">
    <%= form.label :hours %>
    <%= form.number_field :hours %>
  </div>

  <div class="field">
    <%= form.label :km %>
    <%= form.number_field :km %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
