<div class="pdf">
  <table class="header">
    <tr class="company-infos">
      <td>
        <%= @company.name %>
        <br>
        <%= @company.street %>
        <br>
        <%= @company.postcode + ' ' + @company.locality %>
        <br>
        <%= @company.phone %>
        <br>
        <%= @company.email %>
        <br>
        <%= "TVA: BE0810.007.903" %>
      </td>
      <td class="invoice-date">
        <%= @company.locality + " le, " + l(@invoice.date).to_s %>
      </td>
    </tr>
    <tr class="second-row">
      <td class="invoice-number">
        <div class="ui huge header">
          <div class="invoice-header">
            <%= t('invoice').upcase %>
          </div>
          <%= '#' + @invoice.display_number.to_s %>
        </div>
      </td>
      <td class="customer-infos">
        <%= @invoice.customer.name %>
        <br>
        <%= @invoice.customer.street.to_s + ', ' + @invoice.customer.number.to_s %>
        <br>
        <%= @invoice.customer.cp.to_s + ' ' + @invoice.customer.locality %>
        <br>
        <%= @invoice.customer.country %>
        <br>
        <%= "TVA : " + @invoice.customer.tva_record %>
      </td>
    </tr>
  </table>
  <div class="content">
    <% if @size > 15 %>
      <h2>Récapitulatif de la facture</h2>
      <table class="ui unstackable black celled striped table">
        <thead>
        <tr>
          <th class="eight wide">
            <%= t('project') %>
          </th>
          <th class="four wide center aligned">
            <%= t('date_locale') %>
          </th>
          <th class="four wide right aligned">
            <%= t('total_gross') + ' (€)' %>
          </th>
        </tr>
        </thead>
        <tbody>
        <% @invoice.projects.order(date: :asc).each do |project| %>
          <tr>
            <td>
              <%= project.name %>
            </td>
            <td class="center aligned">
              <%= l(project.date) %>
            </td>
            <td class="right aligned">
              <%= number_with_precision project.total_gross, :precision => 2 %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <table class="ui unstackable compact table total-table">
        <th class="twelve wide"></th>
        <tr>
          <td>TOTAL HT (€)</td>
          <td><%= number_with_precision @invoice.total_gross, :precision => 2 %></td>
        </tr>
        <tr>
          <td>Total TVA (€)</td>
          <td><%= number_with_precision (@invoice.total - @invoice.total_gross), :precision => 2 %></td>
        </tr>
        <tr>
          <td>TOTAL TTC (€)</td>
          <td><%= number_with_precision @invoice.total, :precision => 2 %></td>
        </tr>
      </table>
      <div class="page-break">
      </div>
    <% end %>
  </div>
</div>