<%= search_form_for @search do |form| %>
  <div class="ui form">
    <div class="ui segment">
      <div class="fields">
        <div class="two wide field add-button">
          <%= link_to t('create_new_invoice'), new_invoice_path, {class: 'ui olive button', :remote => true, 'data-toggle' => "modal", 'data-target' => '#modal-window'} %>
        </div>
        <div class="two wide field">
          <%= form.label t('project') %>
          <%= form.collection_select :id_eq, Project.all, :id, :name, {:include_blank => t('all_projects')}, {class: 'form-control', id: 'project_sort', onchange: 'this.form.submit();'} %>
        </div>
        <div class="two wide field">
          <%= form.label t('customer') %>
          <%= form.collection_select :customer_id_eq, Customer.all, :id, :name, {:include_blank => t('all_customers')}, {class: 'form-control', id: 'customer_sort', onchange: 'this.form.submit();'} %>
        </div>
        <div class="two wide field">
          <%= form.label t('status') %>
          <%= form.select :status_eq, Invoice.statuses.map {|status| [t(status[0]), status[1].to_i, {status: status[0]}]}, {:include_blank => t('all_status')}, {class: 'form-control', id: 'status_sort_select', onchange: 'this.form.submit();'} %>
        </div>
        <div class="two wide field">
          <%= form.label t('from') %>
          <div class="picker-container">
            <%= form.text_field :date_gteq, "data-provide" => 'datepicker', "data-date-format" => "dd/mm/yyyy", autocomplete: 'off', id: "sortProjectFrom", class: "form-control", onchange: 'this.form.submit();' %>
          </div>
        </div>
        <div class="two wide field">
          <%= form.label t('to') %>
          <div class="picker-container">
            <%= form.text_field :date_lteq, "data-provide" => 'datepicker', "data-date-format" => "dd/mm/yyyy", autocomplete: 'off', id: "sortProjectTo", class: "form-control", onchange: 'this.form.submit();' %>
          </div>
        </div>
        <div class="one wide field clear-filter">
          <%= link_to url_for + "?cancel_filter=true" do %>
            <%= image_tag("clear-filter-icon.png", size: "30x30") %>
          <% end %>
        </div>
        <div class="field invoice-report-total">
          <h5 class="ui small green compact button" onclick="showHidden();">
            <%= t('total_invoiced') %>
          </h5>
          <h3 id="hideable-field">
            <%= @total.collect {|w| w.valid? ? w.total_gross : 0}.sum %> €
          </h3>
        </div>
      </div>
    </div>
  </div>
<% end %>

<table class="ui striped selectable olive table table-to-color">
  <thead class=thead-dark>
  <tr>
    <th class="one wide center aligned">
      <%= sort_link(@search, :display_number, t('invoice_number')) %>
    </th>
    <th class="five wide">
      <%= sort_link(@search, :customer_id, t('customer')) %>
    </th>
    <th class="two wide center aligned">
      <%= sort_link(@search, :date, t('date_locale')) %>
    </th>
    <th class="two wide center aligned">
      <%= sort_link(@search, :status, t('status')) %>
    </th>
    <th class="one wide right aligned">
      <%= sort_link(@search, :total_gross, t('gross_cost').to_s + ' (€)') %>
    </th>
    <th class="one wide right aligned">
      <%= sort_link(@search, :total, t('total').to_s + ' (€)') %>
    </th>
    <th class="two wide"></th>
  </tr>
  </thead>
  <tbody>
  <% unless @invoices.any? %>
    <tr>
      <td class="center aligned" colspan="9"><%= t('no_data_display') %></td>
    </tr>
  <% end %>
  <% @invoices.each do |invoice| %>
    <tr data-invoice="<%= invoice_path(invoice) %>.pdf" data-target="_blank">
      <td class="center aligned">
        <%= invoice.display_number %>
      </td>
      <td>
        <%= invoice.customer ? invoice.customer.name : '' %>
      </td>
      <td class="center aligned">
        <%= l(invoice.date) %>
      </td>
      <%= tag.td class: 'center aligned status-cell', status: invoice.status do %>
        <div>
          <div class="visible content">
            <%= invoice.translated_status %>
          </div>
          <% if invoice.status == "created" %>
            <div class="hidden content">
              <%= link_to "Payé", invoice_path(invoice, invoice: {status: :paid}), method: :put %>
            </div>
          <% end %>
        </div>
      <% end %>
      <td class="right aligned">
        <%= number_with_precision invoice.total_gross, :precision => 2 %>
      </td>
      <td class="right aligned">
        <%= number_with_precision invoice.total, :precision => 2 %>
      </td>
      <td class="center aligned">
        <%= link_to edit_invoice_path(invoice), remote: true do %>
          <%= image_tag("edit-icon.png", size: "30x30") %>
        <% end %>
        <%= link_to image_tag("pdf-icon.png", size: "30x30"), invoice_path(invoice.id, :format => :pdf), target: "_blank" %>
        <%= link_to invoice, method: :delete, data: {confirm: t('confirm_delete')} do %>
          <%= image_tag("delete-icon.png", size: "30x30") %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<br>
<div class="flickr_pagination">
  <%= will_paginate @invoices %>
</div>

<div id="modal-window" class="ui modal">
  <div class="content">
  </div>
</div>
