%div{"data-somedata": @size}
.pdf.invoice
  = render partial: '/layouts/pdf/pdf_head', locals: {project: @invoice, company: @company, type: 'invoice',
  one_project: @one_project}
  .content
    - if @size > 15
      %h3 Récapitulatif de la facture
      %table.ui.unstackable.black.celled.striped.table
        %thead
          %tr
            %th.seven.wide= t('project')
            %th.three.wide.center.aligned= t('date_locale')
            %th.six.wide.right.aligned= t('total_gross')
        - if @invoice.projects.any?
          - @invoice.projects.order(date: :asc).each do |project|
            %tr
              %td= project.name
              %td.center.aligned= l(project.date)
              %td.right.aligned= number_to_currency( (project.total_gross), locale: :fr)
      %table
        %tr
          %td.tva-table
            %table.ui.unstackable.striped.compact.table.avoidbreak
              %thead
                %tr
                  %th.right.aligned Base HT
                  %th.right.aligned Taux TVA
                  %th.right.aligned Montant TVA
              %tbody
                -@tva_rates.each_with_index  do |tva_rate, index|
                  %tr
                    %td.right.aligned= (number_to_currency @tva_amounts[index][1], locale: :fr)
                    %td.right.aligned= tva_rate.to_s&.+('%')
                    %td.right.aligned= (number_to_currency @tva_amounts[index][0], locale: :fr)
          %td.total-cell
            %table.ui.unstackable.compact.table.avoidbreak.total-table
              %tbody
                %tr
                  %td.six.wide
                  %td.five.wide Total HT
                  %td.five.wide= number_to_currency( (@invoice.total_gross), locale: :fr)
                %tr
                  %td.six.wide
                  %td.five.wide Total TVA
                  %td.five.wide= number_to_currency( (@invoice.total - @invoice.total_gross), locale: :fr)
                %tr.ttc-total
                  %td.six.wide
                  %td.five.wide.ttc-cell TOTAL TTC
                  %td.five.wide.ttc-cell= number_to_currency(@invoice.total, locale: :fr)
      .payment-notes.top-notes.avoidbreak
        %h4
          = t('invoice_account') + @company.bank + ' IBAN : ' + @company.account
          %br
          = "Communication à mentionner sur votre virement"
          \: #{display_invoice_id(@invoice.display_number) + " - " + l(@invoice.date).to_s}
        %p
          = t('invoice_notice')
      .page-break
    - if @invoice.projects.any?
      - @invoice.projects.order(:id).each do |project|
        = render partial: '/layouts/pdf/project', locals: {project: project}
    - if @company.use_partial_invoice
      - if @invoice.partial_invoice
        .avoidbreak
          %h4
            =t("partial_invoice")
          %table.ui.unstackable.black.celled.striped.table
            %thead
              %tr
                %th.nine.wide= t('project_title')
                %th.two.wide.center.aligned= t('date_locale')
                %th.two.wide.right.aligned= t('tva_rate')
                %th.three.wide.right.aligned= t('total_gross')
            %tbody
              %tr
                %td= @invoice.partial_invoice.comment
                %td.center.aligned= l( @invoice.partial_invoice.invoice.date).to_s
                %td.right.aligned= (number_with_precision @invoice.partial_invoice.pct, :precision => 0).to_s&.+('%')
                %td.right.aligned= number_to_currency((@invoice.partial_invoice.amount), locale: :fr)
    - if @size <= 15
      %table
        %tr
          %td.tva-table
            %table.ui.unstackable.striped.compact.table.avoidbreak
              %thead
                %tr
                  %th.right.aligned Base HT
                  %th.right.aligned Taux TVA
                  %th.right.aligned Montant TVA
              %tbody
                -@tva_rates.each_with_index  do |tva_rate, index|
                  %tr
                    %td.right.aligned= (number_to_currency @tva_amounts[index][1], locale: :fr)
                    %td.right.aligned= tva_rate.to_s&.+('%')
                    %td.right.aligned= (number_to_currency @tva_amounts[index][0], locale: :fr)
          %td.total-cell
            %table.ui.unstackable.compact.table.avoidbreak.total-table
              %tbody
                %tr
                  %td.six.wide
                  %td.five.wide Total HT
                  %td.five.wide= number_to_currency( (@invoice.total_gross), locale: :fr)
                %tr
                  %td.six.wide
                  %td.five.wide Total TVA
                  %td.five.wide= number_to_currency( (@invoice.total - @invoice.total_gross), locale: :fr)
                %tr.ttc-total
                  %td.six.wide
                  %td.five.wide.ttc-cell TOTAL TTC
                  %td.five.wide.ttc-cell= number_to_currency(@invoice.total, locale: :fr)
      - if @company.mode == "Greday"
        .notes
          .payment-notes.bottom-notes.avoidbreak
            %h4
              = t('invoice_account') + @company.bank + ' IBAN : ' + @company.account
              %br
              = "Communication à mentionner sur votre virement"
              \: #{display_invoice_id(@invoice.display_number) + " - " + l(@invoice.date).to_s}
            %p
              = t('invoice_notice')
    - if @company.mode == "Plusview"
      = render "/layouts/pdf/invoice/tos_plusview"
