<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"/>
  <% if @invoice %>
    <title><%= t('invoice') + "_#{@invoice.display_number}" %></title>
  <% elsif @quotation %>
    <title><%= t('quotation') + "_#{@quotation.id}" %></title>
  <% elsif @invoices %>
    <title><%= t('invoice_report')%></title>
<% end %>
<%= wicked_pdf_stylesheet_link_tag "gescoop" %>
</head>
<%= yield %>
</html>