<p id="notice"><%= notice %></p>

<h1>Machine Histories</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Amout</th>
      <th>Machine</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @machine_histories.each do |machine_history| %>
      <tr>
        <td><%= machine_history.date %></td>
        <td><%= machine_history.amout %></td>
        <td><%= machine_history.machine %></td>
        <td><%= link_to 'Show', machine_history %></td>
        <td><%= link_to 'Edit', edit_machine_history_path(machine_history) %></td>
        <td><%= link_to 'Destroy', machine_history, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Machine History', new_machine_history_path %>
