<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @machine_history.date %>
</p>

<p>
  <strong>Amout:</strong>
  <%= @machine_history.amout %>
</p>

<p>
  <strong>Machine:</strong>
  <%= @machine_history.machine %>
</p>

<%= link_to 'Edit', edit_machine_history_path(@machine_history) %> |
<%= link_to 'Back', machine_histories_path %>
