<div class="close">
  <i class="big close icon" onclick="$('.ui.modal').modal('hide');"></i>
</div>

<%= form_with(model: @extra, local: true, html: {autocomplete: @company.autocomplete}) do |form| %>
  <div class="ui form">

    <h2 class="centered">
      <% if @extra.id %>
        <%= @company.use_articles == false ? t('creating_extra').pluralize : t('creating_article').pluralize %>
      <% else %>
        <%= @company.use_articles == false ? t('editing_extra').pluralize : t('editing_article').pluralize %>
      <% end %>
    </h2>

    <div class="two fields">
      <div class="field">
        <%= form.label t('ware_name') %>
        <%= form.text_field :name, onkeyup: "javascript:capitalize(this.id, this.value);" %>
      </div>

      <div class="field">
        <%= form.label t('category') %>
        <%= form.select :category, Extra.distinct.pluck(:category), {:include_blank => true}, {required: true, onkeyup: "javascript:capitalize(this.id, this.value);"} %>
      </div>
    </div>

    <div class="three fields">
      <div class="field">
        <%= form.label t('unit') %>
        <%= form.text_field :unit %>
      </div>

      <div class="field">
        <%= form.label t('unit_price') %>
        <%= form.text_field :unit_price, id: 'extra_price' %>
      </div>

      <div class="field">
        <%= form.label t('tva_rate') %>
        <%= form.text_field :tva_rate, id: 'extra_tva' %>
      </div>
    </div>

    <div class="field">
      <%= form.submit t('create'),
                      :class => "ui green button" %>
    </div>
  </div>
<% end %>
