<div data-somedata="<%= @customer.id %>" id="customer-id"></div>

<div class="ui segment project-content" id="example1">
  <div class="left ui rail" style="">
    <div class="ui sticky">
      <div class="ui cards">
        <div class="card">
          <div class="content">
            <div class="header">
              <%= @customer.name %>
              <%= link_to edit_customer_path(@customer), remote: true do %>
                <button class="edit-card-button ui compact icon brown button">
                  <i class="edit icon"></i>
                </button>
              <% end %>
            </div>
            <div class="meta">
              <%= @customer.mail %>
              <br>
            </div>
            <div class="description">
              <br>
              <%= "TVA : " + (@customer.tva_record ? @customer.tva_record.to_s : "") %>
              <br>
              <%= @customer.street.to_s + ', ' + @customer.number.to_s %>
              <br>
              <%= @customer.cp.to_s + ' ' + @customer.locality %>
              <br>
              <%= @customer.country %>
              <br>
              <%= "Taux horaire : " + (@customer.customer_rate ? @customer.customer_rate.to_s : "") %>
            </div>
          </div>
          <div class="content">
            <div class="center aligned">
              <%= link_to(customers_path) do %>
                <button class="ui brown compact labeled icon button">
                  Retour aux clients
                  <i class="arrow left icon"></i>
                </button>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="machine-section">
    <h4>
      Machines du client
      <%= link_to(new_machine_path(customer: @customer.id), {:remote => true, 'data-toggle' => "modal", 'data-target' => '#modal-window'}) do %>
        <button class="ui purple compact labeled icon button">
          Ajouter une machine
          <i class="plus icon"></i>
        </button>
      <% end %>
    </h4>

    <table class="ui striped selectable violet table table-to-color">
      <thead class=thead-dark>
      <tr>
        <th class="center aligned">
          <%=  t('category') %>
        </th>
        <th class="center aligned">
          <%=  t('model')%>
        </th>
        <th class="center aligned">
          <%= t('brand') %>
        </th>
        <th class="center aligned">
          <%=  t('year') %>
        </th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% unless @customer.machines.any? %>
        <tr>
          <td class="center aligned" colspan="10"><%= t('no_data_display') %></td>
        </tr>
      <% end %>
      <% @customer.machines.each do |machine| %>
        <tr data-project="<%= machine_path(machine) %>">
          <td class="center aligned">
            <%= machine.category %>
          </td>
          <td class="center aligned">
            <%= machine.model %>
          </td>
          <td class="center aligned">
            <%= machine.brand %>
          </td>
          <td class="center aligned">
            <%= machine.year %>
          </td>
          <td class="center aligned">
            <%= link_to edit_machine_path(machine), remote: true do %>
              <%= image_tag("edit-icon.png", size: "30x30") %>
            <% end %>
            <%= link_to machine, method: :delete, data: {confirm: t('confirm_delete')} do %>
              <%= image_tag("delete-icon.png", size: "30x30") %>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <table class="ui striped selectable blue table table-to-color">
      <h4>Projets du client</h4>
      <thead class=thead-dark>
      <tr>
        <th class="four wide">
          <%= t('Name') %>
        </th>
        <th class="four wide">
          <%= t('date_locale') %>
        </th>
        <th class="four wide">
          <%= t('customer') %>
        </th>

      </tr>
      </thead>
      <tbody>
      <% unless @customer.projects.any? %>
        <tr>
          <td class="center aligned" colspan="9">Aucune données à afficher</td>
        </tr>
      <% end %>
      <% @customer.projects.each do |project| %>
        <tr data-project="<%= project_path(project) %>">
          <td class="four wide">
            <%= project.name %>
          </td>
          <td class="four wide">
            <%= l(project.date) %>
          </td>
          <td class="four wide">
            <%= project.customer.name %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>

  </div>
</div>

<div id="modal-window" class="ui modal">
  <div class="content">
  </div>
</div>