<div class="pdf">
  <div id="container">
    <section id="memo">
      <div class="logo">
        <%= wicked_pdf_image_tag "logo_greday.png" %>
      </div>

      <div class="company-info">
        <div>
          <%= @company.name %>
        </div>
        <span>
          <%= @company.street %>
        </span>
        <br/>
        <span><%= @company.postcode %> <%= @company.locality %></span>
        <br/>
        <span><%= @company.phone %></span>
        <br/>
        <span><%= @company.email %></span>
      </div>

    </section>

    <section id="client-info">
      <div>
        <span>
          <%= @project.customer.name %>
        </span>
      </div>
      <div>
        <span>
          <%= @project.customer.street + ', ' + @project.customer.number.to_s %>
        </span>
      </div>
      <div>
        <span>
          <%= @project.customer.cp.to_s + ' ' + @project.customer.locality %>
        </span>
      </div>
      <div>
        <% if @project.customer.tva_record %>
        <span>
          <%= "TVA : " + @project.customer.tva_record %>
        </span>
        <% end %>
      </div>
    </section>
    <div class="clearfix"></div>

    <section id="invoice-title-number">
      <span id="quotation-title">Devis</span>
      <div class="clearfix"></div>
      <span id="quotation-number">
      <h2>
          <%= '#' + @project.id.to_s %>
      </h2>
      </span>
      <div class="clearfix"></div>
    </section>


    <div class="clearfix"></div>
    <span id="dateInvoice">
          <%= "Wonck le, " + l(@project.date).to_s %>
    </span>
    <hr>

    <% if @project %>
      <section class="items" class="project">
        <div class="avoidbreak">

          <div class="title-project-container">
            <h4 class="title-project">Projet #<%= @project.id %> : <%= @project.name %></h4>
          </div>
          <p><%= @project.description %></p>
          <% if @project.services.any? %>
            <h5>Prestations</h5>

            <table class="table table-hover table-striped avoidbreak">
              <thead class=thead-dark>
              <tr>
                <th class="name-cell"><%= t('Name') %></th>
                <th class="quantity-cell"><%= t('duration') %></th>
                <th class="number-cell"><%= t('hourly_rate') + ' (€)' %></th>
                <th class="number-cell"><%= t('tva_rate') + ' (%)' %></th>
                <th class="number-cell"><%= t('total_gross') + ' (€)' %></th>
              </tr>
              </thead>

              <tbody>
              <% @project.services.each do |service| %>
                <tr>
                  <td class="name-cell"><%= service.name %></td>
                  <td class="quantity-cell"><%= service.duration.strftime('%H:%M') %></td>
                  <td class="number-cell"><%= number_with_precision service.hourly_rate, :precision => 2 %></td>
                  <td class="number-cell"><%= number_with_precision service.tva_rate, :precision => 2 %></td>
                  <td class="number-cell"><%= number_with_precision service.total_gross, :precision => 2 %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
          <% end %>
        </div>
        <div class="avoidbreak">
          <% if @project.wares.any? %>
            <h5>Marchandises</h5>

            <table class="table table-hover table-striped">
              <thead class=thead-dark>
              <tr>
                <th class="name-cell"><%= t('ware_name') %></th>
                <th class="quantity-cell"><%= t('Quantity') %></th>
                <th class="number-cell"><%= t('sell_price') + ' (€)' %></th>
                <th class="number-cell"><%= t('tva_rate') + ' (%)' %></th>
                <th class="number-cell"><%= t('total_gross') + ' (€)' %></th>
              </tr>
              </thead>

              <tbody>
              <% @project.wares.each do |ware| %>
                <tr>
                  <td class="name-cell"><%= ware.ware_name %></td>
                  <td class="quantity-cell"><%= ware.quantity %></td>
                  <td class="number-cell"><%= number_with_precision ware.sell_price, :precision => 2 %></td>
                  <td class="number-cell"><%= number_with_precision ware.tva_rate, :precision => 2 %></td>
                  <td class="number-cell"><%= number_with_precision ware.total_gross, :precision => 2 %></td>
                </tr>
                <% if ware.show_desc_quot %>
                  <tr>
                    <td colspan="5">
                      <%= simple_format(ware.comment) %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
              </tbody>
            </table>
          <% end %>
        </div>
        <div class="avoidbreak">
          <% if @project.project_extra_lines.any? %>
            <h5><%= @company.use_articles == false ? t('extra').pluralize : t('article').pluralize %>
            </h5>

            <table class="table table-hover table-striped">
              <thead class=thead-dark>
              <tr>
                <th class="name-cell"><%= t('Name') %></th>
                <th class="quantity-cell"><%= t('quantity') %></th>
                <th class="number-cell"><%= t('unit_price') + ' (€)' %></th>
                <th class="number-cell"><%= t('tva_rate') + ' (%)' %></th>
                <th class="number-cell"><%= t('total_gross') + ' (€)' %></th>
              </tr>
              </thead>

              <tbody>
              <% unless @project.project_extra_lines.any? %>
                <tr>
                  <td class="emptyTable" colspan="9">Aucune données à afficher</td>
                </tr>
              <% end %>
              <% @project.project_extra_lines.each do |project_extra_line| %>
                <tr>
                  <td class="name-cell"><%= project_extra_line.extra.name %></td>
                  <td class="quantity-cell"><%= project_extra_line.quantity.to_s + ' ' + project_extra_line.extra.unit %></td>
                  <td class="number-cell"><%= number_with_precision project_extra_line.extra.unit_price, :precision => 2 %></td>
                  <td class="number-cell"><%= number_with_precision project_extra_line.extra.tva_rate, :precision => 2 %></td>
                  <td class="number-cell"><%= number_with_precision project_extra_line.total_gross, :precision => 2 %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
          <% end %>
        </div>
      </section>
    <% end %>

    <section id="sums" class="avoidbreak">
      <div class="clearfix"></div>
      <div class="clearfix"></div>
      <table>
        <tr class="amount-total">
          <th>TOTAL HT (€)</th>
          <td><%= number_with_precision @project.total_gross, :precision => 2 %></td>
        </tr>
        <tr data-hide-on-quote="true">
          <th>Total TVA (€)</th>
          <td><%= # noinspection RubyArgumentParentheses
                  number_with_precision (@project.total - @project.total_gross), :precision => 2 %></td>
        </tr>
        <tr data-hide-on-quote="true">
          <th>TOTAL TTC (€)</th>
          <td><%= number_with_precision @project.total, :precision => 2 %></td>
        </tr>
      </table>
      <div class="clearfix"></div>
    </section>
  </div>
</div>