-#----[SERVICES]----
- if @company.use_services
  .project-section
    %table.ui.unstackable.small.compact.table{style: "margin-bottom: 0"}
      %thead
        %th.two.wide
          %h3
            = t('service').pluralize.capitalize
        %th.nine.wide
          = link_to(new_service_path, {:remote => true, 'data-toggle' => "modal", 'data-target' => '#modal-window'}) do
            %button.ui.red.compact.icon.button
              %i.plus.icon
        %th.four.wide.right.aligned
          = form_with(model: @project, remote: true) do |form|
            .ui.toggle.checkbox
              = form.check_box :services_recap, onchange:"this.form.submit();"
              = form.label :services_recap, class: "description-cell", data: {content: @project.services_recap_text} do
                = link_to t("services_recap"), edit_project_path(@project), remote: true
        %th.one.wide
          =link_to({controller: :services, action: :list, project: @project.id, remote: true}) do
            %button.edit-card-button.ui.compact.icon.red.button
              %i.expand.icon
    .scrollable-project-section
      %table.ui.striped.selectable.red.compact.table.table-to-color
        %thead.thead-dark
          %tr
            %th.four.wide
              = t('Name')
            %th.two.wide.center.aligned
              = t('status')
            %th.one.wide.center.aligned
              = t('Date')
            %th.one.wide.right.aligned
              = t('duration').to_s
            %th.two.wide.right.aligned
              = t('hourly_rate').to_s
            %th.two.wide.right.aligned
              = t('total_gross')
              (€)
            %th.two.wide.right.aligned
              = t('total_cost')
              (€)
            %th.two.wide.center.aligned
        %tbody.sortable{"data-url" => sort_services_path}
          - unless @project.services.any?
            %tr
              %td.center.aligned{colspan: "9"} Aucune données à afficher
          - @project.services.order(:position).each do |service|
            %tr{"data-link" => "#{edit_service_path(service)}", id: dom_id(service)}
              %td= service.name
              = tag.td class: 'center aligned status-cell', status: service.status do
                %div
                  %div
                    = service.translated_status
              %td.center.aligned
                = service.date ? l(service.date) : ""
              %td.right.aligned
                = service.duration.strftime('%H:%M')
              %td.right.aligned
                = number_with_precision service.hourly_rate, :precision => 2
              %td.right.aligned
                = number_with_precision service.total_gross, :precision => 2
              %td.right.aligned
                = number_with_precision service.total_cost, :precision => 2
              %td.center.aligned
                = link_to edit_service_path(service), remote: true do
                  = image_tag("edit-icon.png", size: "30x30")
                - unless service.status == "bin"
                  = link_to service_path(service, service: {status: :bin}), method: :put, remote: true do
                    = image_tag("bin-icon.png", size: "30x30")
                - else
                  = link_to service, method: :delete, data: {confirm: t('confirm_delete'), remote: true} do
                    = image_tag("delete-icon.png", size: "30x30")
    %table.ui.compact.table.total-section
      %tr
        %td.eight.wide.right.aligned
          = t('total_duration') + ' : '
          %b
            = +Service.where(project_id: @project.id).sum(:duration).to_s.chop.chop.chop
        %td.four.wide.right.aligned
          = t('total_gross') + ' : '
          %b
            = (number_with_precision @project.services.collect { |s| s.valid? ? s.total_gross : 0 }.sum, :precision => 2).to_s + "€"
        %td.two.wide.right.aligned
          = t('total') + ' : '
          %b
            = (number_with_precision @project.services.collect { |s| s.valid? ? s.total_cost : 0 }.sum, :precision => 2).to_s + "€"
        %td.two.wide
-#----[WARES]----
- if @company.use_wares
  .project-section
    %table.ui.unstackable.small.table{style: "margin-bottom: 0"}
      %thead
        %th.two.wide
          %h3
            = t('ware').pluralize.capitalize
        %th.thirteen.wide
          = link_to(new_ware_path(model: "ware", remote: true), {:remote => true, 'data-toggle' => "modal", 'data-target' => '#modal-window'}) do
            %button.ui.violet.compact.icon.button
              %i.plus.icon
        %th.one.wide
          =link_to({controller: :wares, action: :list, project: @project.id, remote: true}) do
            %button#wares-modal.edit-card-button.ui.compact.icon.violet.button
              %i.expand.icon
    .scrollable-project-section
      %table.ui.compact.selectable.violet.compact.table.table-to-color
        %thead
          %tr
            %th.four.wide
              = t('ware_name')
            %th.two.wide.center.aligned= t('status')
            %th.two.wide.right.aligned= t('quantity')
            %th.two.wide.right.aligned= t('sell_price')
            %th.two.wide.right.aligned
              = t('total_gross')
              (€)
            %th.two.wide.right.aligned
              = t('total_cost')
              (€)
            %th.two.wide.center.aligned
        %tbody.sortable{"data-url" => sort_wares_path}
          - unless @project.wares.any?
            %tr
              %td.center.aligned{colspan: "9"} Aucune données à afficher
          - @project.wares.where("total_gross = 0").or(@project.wares.where(total_gross: nil )).order(:position).each do |ware|
            %tr.red-row{"data-link" => "#{edit_ware_path(ware)}", id: dom_id(ware)}
              %td
                = ware.ware_name
                = tag.td class: 'center aligned status-cell', status: ware.status do
                  %div
                    %div
                      = ware.translated_status
                %td.right.aligned
                  = ware.quantity
                %td.right.aligned
                  = number_with_precision ware.sell_price, :precision => 2
                %td.right.aligned
                  = number_with_precision ware.total_gross, :precision => 2
                %td.right.aligned
                  = number_with_precision ware.total_cost, :precision => 2
                %td.center.aligned
                  = link_to edit_ware_path(ware), remote: true do
                    = image_tag("edit-icon.png", size: "30x30")
                  - unless ware.status == "bin"
                    = link_to ware_path(ware, ware: {status: :bin}, remote: true), method: :put, remote: true do
                      = image_tag("bin-icon.png", size: "30x30")
                  - else
                    = link_to ware, method: :delete, data: {confirm: t('confirm_delete'), remote: true} do
                      = image_tag("delete-icon.png", size: "30x30")
          - @project.wares.where("total_gross > 0").order(:position).each do |ware|
            %tr{"data-link" => "#{edit_ware_path(ware)}", id: dom_id(ware)}
              %td
                = ware.ware_name
              = tag.td class: 'center aligned status-cell', status: ware.status do
                %div
                  %div
                    = ware.translated_status
              %td.right.aligned
                = ware.quantity
              %td.right.aligned
                = number_with_precision ware.sell_price, :precision => 2
              %td.right.aligned
                = number_with_precision ware.total_gross, :precision => 2
              %td.right.aligned
                = number_with_precision ware.total_cost, :precision => 2
              %td.center.aligned
                = link_to edit_ware_path(ware), remote: true do
                  = image_tag("edit-icon.png", size: "30x30")
                - unless ware.status == "bin"
                  = link_to ware_path(ware, ware: {status: :bin}), method: :put, remote: true do
                    = image_tag("bin-icon.png", size: "30x30")
                - else
                  = link_to ware, method: :delete, data: {confirm: t('confirm_delete'), remote: true} do
                    = image_tag("delete-icon.png", size: "30x30")
    %table.ui.compact.table.total-section
      %tr
        %td.twelve.wide.right.aligned
          = t('total_gross') + ' : '
          %b
            = (number_with_precision @project.wares.sum(:total_gross), :precision => 2).to_s + "€"
        %td.two.wide.right.aligned
          = t('total') + ' : '
          %b
            = (number_with_precision @project.wares.sum(:total_cost), :precision => 2).to_s + "€"
        %td.two.wide
-#----[EXTRAS]----
.project-section
  %table.ui.unstackable.small.table{style: "margin-bottom: 0"}
    %thead
      %th.two.wide
        %h3
          = @company.use_articles == false ? t('extra') : t('article')
      %th.fourteen.wide
        = link_to(new_project_extra_line_path(manual: false), {:remote => true, 'data-toggle' => "modal", 'data-target' => '#modal-window'}) do
          %button.ui.yellow.compact.icon.button
            %i.plus.icon
        - if @company.use_manual_extras
          = link_to(new_project_extra_line_path(manual: true), {:remote => true, 'data-toggle' => "modal", 'data-target' => '#modal-window'}) do
            %button.ui.teal.compact.labeled.icon.button
              Ajouter un article (manuel)
              %i.plus.icon
  %div{:class => ("scrollable-project-section" unless @company.mode == "Plusview")}
    %table.ui.striped.selectable.yellow.compact.table.table-to-color
      %thead
        %tr
          %th.four.wide= t('Name')
          %th.two.wide.right.aligned= t('unit')
          %th.two.wide.right.aligned= t('quantity')
          %th.two.wide.right.aligned= t('sell_price')
          %th.two.wide.right.aligned
            = t('total_gross')
            (€)
          %th.two.wide.right.aligned
            = t('total_cost')
            (€)
          %th.two.wide.center.aligned
      %tbody.sortable{"data-url" => sort_project_extra_lines_path}
        - unless @project.project_extra_lines.any?
          %tr
            %td.center.aligned{colspan: "9"}= t('no_data_display')
        - @project.project_extra_lines.order(:updated_at).each do |project_extra_line|
          - if project_extra_line.is_manual
            %tr{"data-link" => "#{edit_project_extra_line_path(project_extra_line)}", id: dom_id(project_extra_line)}
              %td
                = project_extra_line.manual_name
              %td.right.aligned
                = project_extra_line.unit
              %td.right.aligned
                = project_extra_line.quantity
              %td.right.aligned
                = number_with_precision project_extra_line.manual_price, :precision => 2
              %td.right.aligned
                = number_with_precision project_extra_line.total_gross, :precision => 2
              %td.right.aligned
                = number_with_precision project_extra_line.total, :precision => 2
              %td.center.aligned
                = link_to edit_project_extra_line_path(project_extra_line, manual: true), remote: true do
                  = image_tag("edit-icon.png", size: "30x30")
                = link_to project_extra_line, method: :delete, data: {confirm: t('confirm_delete')} do
                  = image_tag("delete-icon.png", size: "30x30")
          - else
            %tr{"data-link" => "#{edit_project_extra_line_path(project_extra_line)}", id: dom_id(project_extra_line)}
              %td
                = project_extra_line.extra.name
              %td.right.aligned
                = project_extra_line.extra.unit
              %td.right.aligned
                = project_extra_line.quantity
              %td.right.aligned
                = number_with_precision project_extra_line.extra.unit_price, :precision => 2
              %td.right.aligned
                = number_with_precision project_extra_line.total_gross, :precision => 2
              %td.right.aligned
                = number_with_precision project_extra_line.total, :precision => 2
              %td.center.aligned
                = link_to edit_project_extra_line_path(project_extra_line, manual: false), remote: true do
                  = image_tag("edit-icon.png", size: "30x30")
                = link_to project_extra_line, method: :delete, data: {confirm: t('confirm_delete')} do
                  = image_tag("delete-icon.png", size: "30x30")
  %table.ui.compact.table.total-section
    %tr
      %td.twelve.wide.right.aligned
        = t('total_gross') + ' : '
        %b
          = (number_with_precision @project.project_extra_lines.sum(:total_gross), :precision => 2).to_s + "€"
      %td.two.wide.right.aligned
        = t('total') + ' : '
        %b
          = (number_with_precision @project.project_extra_lines.sum(:total), :precision => 2).to_s + "€"
      %td.two.wide.right.aligned