.card
  .content
    .header.centered{style: "margin-bottom:0"}
      = @machine.brand + " " + @machine.model
  .ui.two.buttons
    = button_tag class: "ui bottom attached purple button card-button", type: :button do
      = link_to machines_path do
        %i.arrow.left.icon
        = "Retour"
    = button_tag class: "ui bottom attached blue button card-button", type: :button, data: {link: edit_machine_path(@machine)} do
      %i.edit.icon
  .content
    .meta
      = @machine.category
      %br/
    .description
      = @machine.subname ? @machine.subname : ""
      %br/
      = @machine.customer ? @machine.customer.name : ""
      %br/
      = "Année : " + (@machine.year ? @machine.year : "")
      %br/
      = "Numéro de série : " + (@machine.serial ? @machine.serial : "")
      %br/
  .content
    .description
      = @machine.comment
  = link_to "Dupliquer la machine", {id: @machine.id, action: :duplicate, controller: :machines, :method => :get}, {class: "ui bottom attached olive button card-button"}

.card
  .content
    .header
      = t("oils")
      = link_to new_oil_path(machine: @machine), remote: true do
        %button.edit-card-button.ui.compact.icon.red.button
          %i.plus.icon
    %table.ui.striped.selectable.red.table.table-to-color
      - @oils.each do |oil|
        %tr{"data-oil" => "#{edit_oil_path(oil, machine: @machine)}"}
          %td
            =oil.category
          %td
            =oil.oil_type
          %td
            =oil.quantity
          %td
            = link_to oil, method: :delete, data: {confirm: t('confirm_delete')} do
              = image_tag("delete-icon.png", size: "15x15")
