%table.ui.unstackable.small.table{style: "margin-bottom: 0"}
  %thead
    %th.three.wide
      %h4
        Marchandises d'entretien
    %th.thirteen.wide
      =link_to(new_ware_path(maintenance: :true, machine: @machine.id, model: "maintenance"), {:remote => true, 'data-toggle' => "modal", 'data-target' => '#modal-window'}) do
        %button.ui.olive.compact.icon.button
          %i.plus.icon
.scrollable-project-section
  %table.ui.striped.selectable.olive.table.table-to-color
    %thead.thead-dark
      %tr
        %th.four.wide
          = t('ware_name')
        %th.three.wide
          = t('fournisseurs')
        %th.three.wide
          = t('references')
        %th.four.wide
          = t('comment')
        %th.two.wide.center.aligned
    %tbody
      - unless @maintenance_wares.any?
        %tr
          %td.center.aligned{colspan: "9"} Aucune données à afficher
      - @maintenance_wares.each do |ware|
        %tr{"data-link" => "#{edit_ware_path(ware, maintenance: :true, model: "maintenance", machine: @machine.id)}"}
          %td
            = ware.ware_name
          %td{colspan:2}
            - if !ware.provider_1.empty? || !ware.reference_1.empty?
              %table.ui.striped.compact.table
                %tr
                  %td.eight.wide
                    = ware.provider_1
                  %td.no-link{onclick: "copyStringToClipboard(this.innerHTML);"}
                    = ware.reference_1
                - if !ware.provider_2.empty? || !ware.reference_2.empty?
                  %tr
                    %td.eight.wide
                      = ware.provider_2
                    %td.no-link{onclick: "copyStringToClipboard(this.innerHTML);"}
                      = ware.reference_2
                - if !ware.provider_3.empty? || !ware.reference_3.empty?
                  %tr
                    %td.eight.wide
                      = ware.provider_3
                    %td.no-link{onclick: "copyStringToClipboard(this.innerHTML);"}
                      = ware.reference_3
          %td
            = ware.comment
          %td
            = link_to edit_ware_path(ware, model: "maintenance", machine: @machine, maintenance: true), remote: true do
              = image_tag("edit-icon.png", size: "30x30")
            = link_to ware_path(ware, model: "maintenance", machine: @machine), method: :delete, remote: true, data: {confirm: t('confirm_delete')} do
              = image_tag("delete-icon.png", size: "30x30")
%table.ui.unstackable.small.table{style: "margin-bottom: 0"}
  %thead
    %th.twelve.wide
      %h4
        Marchandises spécifiques à cette machine
    %th.four.wide
      =link_to({controller: :wares, action: :machine_list, projects: @projects, machine: @machine.id, remote: true}) do
        %button#wares-modal.edit-card-button.ui.compact.icon.red.button
          %i.expand.icon
.scrollable-project-section
  %table.ui.striped.selectable.red.table.table-to-color
    %thead.thead-dark
      %tr
        %th.four.wide
          = t('ware_name')
        %th.four.wide.right.aligned
          = t('total_gross')
          (€)
        %th.four.wide.right.aligned
          = t('total_cost')
          (€)
    %tbody
      - unless @wares.any?
        %tr
          %td.center.aligned{colspan: "9"} Aucune données à afficher
      - @wares.each do |ware|
        %tr{"data-link" => "#{edit_ware_path(ware)}"}
          %td.four.wide
            = ware.ware_name
          %td.four.wide.right.aligned
            = number_with_precision ware.total_gross, :precision => 2
          %td.four.wide.right.aligned
            = number_with_precision ware.total_cost, :precision => 2
%table.ui.unstackable.small.table{style: "margin-bottom: 0"}
  %thead
    %th.sixteen.wide
      %h4
        Projets concernant cette machine
.scrollable-project-section
  %table.ui.striped.selectable.blue.table.table-to-color
    %thead.thead-dark
      %tr
        %th.four.wide
          = t('Name')
        %th.four.wide
          = t('date_locale')
        %th.four.wide
          = t('machine_history')
        %th.four.wide
          = t('customer')
    %tbody
      - unless @projects.any?
        %tr
          %td.center.aligned{colspan: "9"} Aucune données à afficher
      - @projects.each do |project|
        %tr{"data-project" => "#{project_path(project)}"}
          %td
            = project.name
          %td
            = l(project.date)
          %td
            - if project.machine_history
              = (project.machine_history.to_s + ' ' + (@machine.isKm ? t('km_usage') : t('hours'))).downcase
          %td
            = project.customer.name