<%= search_form_for @search do |form| %>
  <div class="ui form">
    <div class="six fields">
      <div class="two wide field add-button">
        <%= link_to t('create_new_machine'), new_machine_path, {class: 'ui purple button', :remote => true, 'data-toggle' => "modal", 'data-target' => '#modal-window'} %>
      </div>

      <div class="field">
        <%= form.label t('brand') %>
        <%= form.select :brand_eq, Machine.pluck(:brand), {:include_blank => t('all_machines_brands')}, {class: 'form-control', id: 'machines_brand_sort', onchange: 'this.form.submit();'} %>
      </div>

      <div class="field">
        <%= form.label t('category') %>
        <%= form.select :category_eq, Machine.pluck(:category), {:include_blank => t('all_machines_categories')}, {class: 'form-control', id: 'machines_brand_sort', onchange: 'this.form.submit();'} %>
      </div>
      <div class="field clear-filter">
        <%= link_to url_for + "?cancel_filter=true" do %>
          <%= image_tag("clear-filter-icon.png", size: "30x30") %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<table class="ui striped selectable violet table table-to-color">
  <thead class=thead-dark>
  <tr>
    <th class="center aligned">
      <%= sort_link(@search, :status, t('category')) %>
    </th>
    <th class="center aligned">
      <%= sort_link(@search, :project_id, t('model')) %>
    </th>
    <th class="center aligned">
      <%= sort_link(@search, :name, t('brand')) %>
    </th>
    <th class="center aligned">
      <%= sort_link(@search, :comment, t('year')) %>
    </th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% unless @machines.any? %>
    <tr>
      <td class="center aligned" colspan="10"><%= t('no_data_display') %></td>
    </tr>
  <% end %>
  <% @machines.each do |machine| %>
    <tr data-project="<%= machine_path(machine) %>">
      <td class="center aligned">
        <%= machine.category %>
      </td>
      <td class="center aligned">
        <%= machine.model %>
      </td>
      <td class="center aligned">
        <%= machine.brand %>
      </td>
      <td class="center aligned">
        <%= machine.year %>
      </td>
      <td class="center aligned">
        <%= link_to edit_machine_path(machine), remote: true do %>
          <%= image_tag("edit-icon.png", size: "30x30") %>
        <% end %>
        <%= link_to machine, method: :delete, data: {confirm: t('confirm_delete')} do %>
          <%= image_tag("delete-icon.png", size: "30x30") %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate @machines %>

<div id="modal-window" class="ui modal">
  <div class="content">
  </div>
</div>
