#example1.project-content
  .ui.left.rail{style: ""}
    .ui
      .ui.cards
        .card
          .content
            .header
              = @machine.brand + " " + @machine.model
              = link_to edit_machine_path(@machine), remote: true do
                %button.edit-card-button.ui.compact.icon.purple.button
                  %i.edit.icon
            .meta
              = @machine.category
              %br/
            .description
              = @machine.customer ? @machine.customer.name : ""
              %br/
              = "Année : " + (@machine.year ? @machine.year : "")
              %br/
              = "Numéro de série : " + (@machine.serial ? @machine.serial : "")
              %br/
          .content
            .description
              = @machine.comment
          .content
            .center.aligned
              = link_to(machines_path) do
                %button.ui.purple.compact.labeled.icon.button
                  Retour aux machines
                  %i.arrow.left.icon
        .card
          .content
            .header
              = t("history_machine")
              = link_to new_machine_history_path(:machine => @machine.id), remote: true do
                %button.edit-card-button.ui.compact.icon.purple.button
                  %i.plus.icon
            .meta
              = @machine.isKm ? t('km_usage') : t('hours')
              %br/
            .description
              %table.ui.striped.selectable.table.table-to-color
                %tbody
                  %tr
                    %td
                      = @machine_history ? l(@machine_history.date) : ""
                    %td
                      = @machine_history ? @machine_history.amount : ""
                    %td
                      - if @machine_history
                        = link_to edit_machine_history_path(@machine_history, :machine => @machine.id), remote: true do
                          = image_tag("edit-icon.png", size: "15x15")
                        = link_to @machine_history, method: :delete, data: {confirm: t('confirm_delete')} do
                          = image_tag("delete-icon.png", size: "15x15")
        .card
          .content
            .header
              = t("oils")
              = link_to edit_machine_path(@machine), remote: true do
                %button.edit-card-button.ui.compact.icon.purple.button
                  %i.edit.icon
              %br/
            .description
              = simple_format(@machine.oils_text)
  .ui.segment
    %table.ui.unstackable.small.table{style: "margin-bottom: 0"}
      %thead
        %th.three.wide
          %h3
            Marchandises d'entretien
        %th.thirteen.wide
          =link_to(new_ware_path(maintenance: :true, machine: @machine.id), {:remote => true, 'data-toggle' => "modal", 'data-target' => '#modal-window'}) do
            %button.ui.olive.compact.icon.button
              %i.plus.icon
    .scrollable-project-section
      %table.ui.striped.selectable.olive.table.table-to-color
        %thead.thead-dark
          %tr
            %th.four.wide
              = t('ware_name')
            %th.three.wide
              = t('provider_name')
            %th.three.wide
              = t('provider_reference')
            %th.four.wide
              = t('comment')
            %th.two.wide
        %tbody
          - unless @maintenance_wares.any?
            %tr
              %td.center.aligned{colspan: "9"} Aucune données à afficher
          - @maintenance_wares.each do |ware|
            %tr{"data-link" => "#{edit_ware_path(ware, maintenance: :true, machine: @machine.id)}"}
              %td.four.wide
                = ware.ware_name
              %td.three.wide
                = ware.provider_name
              %td.three.wide.no-link{onclick: "copyStringToClipboard(this.innerHTML);"}
                = ware.provider_invoice
              %td.four.wide
                = ware.comment
              %td.two.wide
                = link_to edit_ware_path(ware, maintenance: :true, machine: @machine.id), remote: true do
                  = image_tag("edit-icon.png", size: "30x30")
                = link_to ware, method: :delete, data: {confirm: t('confirm_delete')} do
                  = image_tag("delete-icon.png", size: "30x30")
  .ui.segment
    %h4 Marchandises spécifiques à cette machine
    .scrollable-project-section
      %table.ui.striped.selectable.red.table.table-to-color
        %thead.thead-dark
          %tr
            %th.four.wide
              = t('ware_name')
            %th.four.wide.right.aligned
              = t('total_gross')
              (€)
            %th.four.wide.right.aligned
              = t('total_cost')
              (€)
        %tbody
          - unless @wares.any?
            %tr
              %td.center.aligned{colspan: "9"} Aucune données à afficher
          - @wares.each do |ware|
            %tr{"data-link" => "#{edit_ware_path(ware)}"}
              %td.four.wide
                = ware.ware_name
              %td.four.wide.right.aligned
                = number_with_precision ware.total_gross, :precision => 2
              %td.four.wide.right.aligned
                = number_with_precision ware.total_cost, :precision => 2
  .ui.segment
    %h4 Projets concernant cette machine
    .scrollable-project-section
      %table.ui.striped.selectable.blue.table.table-to-color
        %thead.thead-dark
          %tr
            %th.four.wide
              = t('Name')
            %th.four.wide
              = t('date_locale')
            %th.four.wide
              = t('customer')
        %tbody
          - unless @projects.any?
            %tr
              %td.center.aligned{colspan: "9"} Aucune données à afficher
          - @projects.each do |project|
            %tr{"data-project" => "#{project_path(project)}"}
              %td.four.wide
                = project.name
              %td.four.wide
                = l(project.date)
              %td.four.wide
                = project.customer.name
    = will_paginate @wares
#modal-window.ui.long.modal
  .content