<%= search_form_for @search do |form| %>
  <div class="ui form">
    <div class="six fields">
      <div class="two wide field add-button">
        <%= link_to @company.use_articles == false ? t('create_new_extra').pluralize : t('create_new_article').pluralize, new_extra_path, {class: 'ui yellow button', :remote => true, 'data-toggle' => "modal", 'data-target' => '#modal-window'} %>
      </div>

      <div class="field">
        <%= form.label t('category') %>
        <%= form.select :category_eq, Extra.distinct.pluck(:category), {:include_blank => t('all_categories')}, {id: 'extra_form_category', onchange: 'this.form.submit();'} %>
      </div>

      <div class="field clear-filter">
        <%= link_to url_for + "?cancel_filter=true" do %>
          <%= image_tag("clear-filter-icon.png", size: "30x30") %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<table class="ui striped selectable yellow table table-to-color">
  <thead class=thead-dark>
  <tr>
    <th class="five wide">
      <%= sort_link(@search, :name, t('extra_name')) %>
    </th>
    <th class="three wide center aligned">
      <%= sort_link(@search, :category, t('category')) %>
    </th>
    <th class="one wide center aligned">
      <%= sort_link(@search, :unit, t('unit')) %>
    </th>
    <th class="two wide right aligned">
      <%= sort_link(@search, :unit_price, t('unit_price')) %>
    </th>
    <th class="two wide right aligned">
      <%= sort_link(@search, :tva_rate, t('tva_rate')) %>
    </th>
    <th class="three wide center aligned"></th>
  </tr>
  </thead>

  <tbody>
  <% unless @extras.any? %>
    <tr>
      <td class="center aligned" colspan="9"><%= t('no_data_display') %></td>
    </tr>
  <% end %>
  <% @extras.where(delete_flag: nil).each do |extra| %>
    <tr>
      <td>
        <%= extra.name %>
      </td>
      <td class="five wide center aligned">
        <%= extra.category %>
      </td>
      <td class="one wide center aligned">
        <%= extra.unit %>
      </td>
      <td class="two wide right aligned">
        <%= extra.unit_price %>
      </td>
      <td class="two wide right aligned">
        <%= extra.tva_rate %>
      </td>
      <td class="three wide center aligned">
        <%= link_to edit_extra_path(extra), remote: true do %>
          <%= image_tag("edit-icon.png", size: "30x30") %>
        <% end %>
        <%= link_to extra_path(extra, extra: {delete_flag: true}), method: :put, data: {confirm: t('confirm_delete')} do %>
          <%= image_tag("delete-icon.png", size: "30x30") %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate @extras %>

<div id="modal-window" class="ui modal">
  <div class="content">
  </div>
</div>
